<a href="https://colab.research.google.com/github/vishakhun/Data-Analysis-practice/blob/main/wordle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Prediction of today's wordle**
### Wordle : 248 22/02/2022
I tried predicting the wordle using just my brain and exhausted the 4 tries and left with only one chance, hence tried to use data analysis using pandas to predict the word in one chance and using the wrongly predicted 4 words and letters.

The below is the screenshot of where I started the analysis.


![](https://drive.google.com/uc?export=view&id=1C4RwjDazY6eYgfRSatU-u2f7L371VvMZ)

Imported pandas and regular expression for analysis

In [113]:
import pandas as pd
import re

* I needed the list of all possible english word.
* Identified out a git repo with the list of words and the url is as below.
* This is a list of **370102** words.

In [114]:
url = "https://raw.githubusercontent.com/dwyl/english-words/master/words_alpha.txt"

I then loaded the data from url to pandas dataframe.

In [115]:
df1 = pd.read_csv(url)

In [116]:
df1.shape

(370102, 1)

Named the column as "word" for easy analysis and also the data was without a column name.

In [117]:
df1.columns = ["word"]

This is how the list of words looks like

In [118]:
df1.head(10)

     word
0      aa
1     aaa
2     aah
3   aahed
4  aahing
5    aahs
6     aal
7   aalii
8  aaliis
9    aals

* As you know Wordle only has 5 letter words.
* So created a subset of all words which contains 5 letter and created a new dataframe(table).
* This narrowed my candidate word list to 15918

In [119]:
df5 = df1[df1.word.str.len() == 5]

In [120]:
df5.shape

(15918, 1)

* From the 5 tries I know that "or" is there in the word and its in the correct order in the word and its the 3rd and 4th letter.
* I used this pattern to further filter the data frame, regexp was used for this.
* The list of words reduced to 93.

![](https://drive.google.com/uc?export=view&id=1Kae17I-jb4BrgAaj0z56YUQgqFjH_0w0)

In [121]:
df5_today = df5[df5["word"].str.contains("..or." , regex = True)]

In [122]:
df5_today.shape

(93, 1)

* There are letters which are not there in the answer, identified from the initial guesses.
* Filtered the word list further by eliminating words which contains those letters. 
* 5 words remaining


![](https://drive.google.com/uc?export=view&id=1iIlMYIW9YkqriiLZq93q2Hp337so-FvR)

In [123]:
 df5_today_1= df5_today[df5_today["word"].str.contains("d|e|a|m|c|k|s|f|i|b|g|l|y|p")==False]

In [124]:
df5_today_1.shape

(5, 1)

The list of those remaining 5 words are as below.

In [125]:
df5_today_1

         word
322400  thorn
322421  thoro
322460  thort
347255  unorn
365388  whort

* "t" is there in the word and hence filtered the list to show the words containing "t".
* 4 words remaining. 

![](https://drive.google.com/uc?export=view&id=1LKhE8eLtiGOdkZ85MANR_t0pZWLSz9Lb)

In [126]:
df5_today_2 = df5_today_1[df5_today_1["word"].str.contains(pat = 't', case = False)]

In [127]:
df5_today_2.shape

(4, 1)

In [132]:
df5_today_2

         word
322400  thorn
322421  thoro
322460  thort
365388  whort

* Though "t" and "o" are present in the word, those are not in the last position of the word.
* Used regexp to filter this further 
* the **wordle** for today is the last word standing post the filtering.

![](https://drive.google.com/uc?export=view&id=1fvkUeZ_z_OYKW-kB_Zz7g049A3jS3JsX)

In [128]:
df5_today_3 = df5_today_2[df5_today_2["word"].str.contains ("....o", regex = True) == False]

In [129]:
df5_today_3

         word
322400  thorn
322460  thort
365388  whort

In [130]:
wordle_today = df5_today_today_or_o[df5_today_today_or_o["word"].str.contains ("....t", regex = True) == False]

In [131]:
wordle_today

         word
322400  thorn

So the data suggested that "**Thorn**" is the wordle for today, time to put this into test.

![](https://drive.google.com/uc?export=view&id=1kvhJmuW6gSS4T43lsj5BbIAKvwIu5onf)


Phew!